*{
    margin: 2%;
}
main{
    display: flex;
    flex-direction: column;
    text-align: justify;
    /* justify-content: justify; */
}
p{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-indent: 20px;
}
.capitular::first-letter{
    font-size: larger;
    font-weight: bold;
    color: rgb(83, 27, 136);
}
.setaD::before{
    content: "➡️";
}
figure{
    text-align: center;
}
img{
    width: 80%;
}
video{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 40px;
    border-style: groove;
    border-width: 6px;
    border-color: blueviolet;
    box-shadow: 0 15px 20px rgba(90, 28, 148, 0.630);
}
audio{
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    border-style: dashed;
    border-style: groove;
    border-width: 6px;
    border-color: blueviolet;
    /* color: blue; */
    box-shadow: 0 15px 20px rgba(90, 28, 148, 0.630);
}
li{
    list-style-type: upper-roman;
    font-size: 20px;
}
.aoCentro{
    text-align: center;
}
.aoCentroh1{
    font-size: 40px;
    text-align: center;
    text-shadow: 0 4px 7px blueviolet;
}