*{
    margin: 2%;
}
main{
    display: flex;
    flex-direction: column;
    text-align: justify;
}
p{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
figure{
    text-align: center;
}
img{
    width: 80%;
}
video{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 30px;
    border-style: groove;
    border-width: 6px;
    border-color: blueviolet;
}
li{
    list-style-type: upper-roman;
}
.aoCentro{
    text-align: center;
}